.Imgperfil{
    margin-bottom: 220px;
}

.bordes{
    border: 1px solid black;
}

.page-content{
    padding-top: 60px;
}

.contenido{
    height: 100%;
    width: 100%;
}

.detail{
    overflow:auto;
    padding-left: 10px;
}