.Imgperfil{
    margin-bottom: 220px;
}

.bordes{
    border: 1px solid black;
}

.page-content{
    padding-top: 60px;
}

.contenido{
    height: 100vh;
    width: 100vw;
}

#detail{
    overflow:visible;
}

.btn-peach {
    background-color: #ff8e6c;
    color: white;
}
.btn-peach:hover {
    color:#ff8e6c;
  }