.Post_Input_Contenedor{
    padding-left: 25px;
    padding-top: 20px;
    margin: 15px 0px;
    background-color: #f7f4ef;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Post_Input_Contenedor textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
    margin-bottom: 0%;
}

.categories-dd{
    margin: 0%;
    padding: 0%; 
}

i{
    margin: 0px 10px;
}

.Links_post{
    margin:0%;
}