.loading{
    width: 100vw;
    height: 100vh;
    background-color: #f7f4ef;
}

.loadingLogo{
    position: fixed;
    z-index: 1000;
    width: 20%;
    height: auto;
}

.rotate{
    margin-top: 100px;
    animation: rotation 2s infinite linear;
    font-size: 30px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.user-card-container{
    width: 40%;
    background-color: white;
    height: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    padding: 10px;
}

.users-icon{
    font-size: 50px;
    margin-right: 20px;
}
.user-card-info{
    width: 100%;
    border-radius: 15px;
}

.user-card-info:hover{
    background-color: #e0dcd6;
}

.user_info_card{
    margin-left: 0px;
    font-size: 13px;
    border-radius: 25px;
    padding: 20px;
    font-weight: normal;
}

.user_name_card{
    font-size: 28px;
    font-weight: bold;
}

.user-options_card{
    font-size: 30px;
}

.edit-user_card:hover{
    color: #c13202;
}

.email_card, .username_card{
    font-size: 14px;
}

.change-role-user-icon{
    color: #ae766d;
    font-size: 16px;
}
.delete-user-icon:hover, .change-role-user-icon:hover{
    color: #c13202;
}
