.Fondito_Todos_Foros{
 
    position: fixed;
    
  }
  .Fondito_Todos_Foros img{
      max-width: 100%;
      max-height: 90%;
      position:static;
  
    }

    /*FOROOOOS*/
    .Grupo_Foros2{
        width: 101%;
        background: #f7f4ef;
        border-radius: 6px;
        padding: 20px;
        columns: #626262;
        top: 16.7%;
        left: 9.6%;
        position: fixed;
        
      }
   

      .Color_Foro2 a{ 
        font-size: 15px;
        color: #b26967;
       text-align:center;
      
      
        
      }

      .Color_Foro2 .mis_foros2{
        width: 20%;
        height: 0%;
        background: #d2cfc9;
        
        padding: 20px;
        columns: #626262;
        top: 11%;
        left: 9.6%;
        text-align: center;
        position: fixed;
        
      }

      .Color_Foro2 .todos_foros2{
        width: 37%;
        height: 0%;
        background: #e9e5df;
        
        padding: 20px;
        columns: #626262;
        top: 11%;
        left: 29%;
        text-align: center;
        position: fixed;
        
      }
   
   /*CUADRO PARA PUBLICAR UNA RIMA*/
   .Post_Contenedor3{
    width: 101%;
    background: #f7f4ef;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
    top: 16.4%;
    left: 9.6%;
    position: fixed;
    
  }

  .perfil_usuario3{
    display: flex;
    align-items: center;
  }

  .perfil_usuario3 img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .perfil_usuario3 p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
  }

  .perfil_usuario3 a{ 
    font-size: 12px;
    color: #b26967;
  margin: 25px;
  
    
  }



  .Post_Input_Contenedor3{
    padding-left: 25px;
    padding-top: 20px;
  }

  .Post_Input_Contenedor3 textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
  }

  .Links_post3{
    display: flex;
    margin-top: 10px;
  }

  .Links_post3 a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
  }

  .Links_post3 a img{
    width: 20px;
    margin-right: 10px;
  }


  /*CONTENIDO PUBLICADO*/
  .Contenido_Publicado3{
    width: 100%;
    background: #f7f4ef;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin-top: 0%;
    
   
  }

  .perfil_usuario3 span{
    font-size: 13px;
    color: #9a9a9a;
  }

  .post-text3{
    color: #9a9a9a;
   
    font-size: 15px;
  }

  .post-text3 span{
    color: #626262;
    font-weight: 500;
  }

  .post-text3 a{
    color: #1876f2;
    text-decoration:none;
  }

  .post-row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Actividad-iconos3 div img{
    width: 18px;
    margin-right: 10px;
  }

  .Actividad-iconos3 div{
    display: inline-flex;
    align-items: center;
    margin-right:30px;
  }

  
  

  