html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

#contact h1 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
#contact h1 form {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}
#contact h1 form button {
  box-shadow: none;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
}
#contact h1 form button[value="true"] {
  color: #a4a4a4;
}
#contact h1 form button[value="true"]:hover,
#contact h1 form button[value="false"] {
  color: #eeb004;
}

form[action$="destroy"] button {
  color: #f44250;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  width: 22rem;
  background-color: #e0dcd6;
  border-right: solid 1px #b5b5b5;
  display: flex;
  flex-direction: column;
  
}

#sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

#sidebar h1 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  border-top: 1px solid #adadad;
  order: 1;
  line-height: 1;
}

#sidebar h1::before {
  content: url("https://i.postimg.cc/vB5ThByp/rimaldia1.png");

  margin-right: 0.5rem;
  position: relative;
  top: 1px;
  height: 86px;
}

/*Esta es la linea para dividir al usuario y Home*/
#sidebar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b5b5b5;
}

#sidebar > div form {
  position: relative;
}

#sidebar > div form input[type="search"] {
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

#sidebar > div form input[type="search"].loading {
  background-image: none;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#sidebar{
  position: fixed;
}
#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;

}

#sidebar nav a span {
  float: right;
  color: #eeb004;
}
#sidebar nav a.active span {
  color: inherit;
}

i {
  color: #818181;
}
#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 0.25rem 0;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  
  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}


#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}




#detail { /*Este es para el fondo de home o publicaciones*/
  flex: 0.5;
  padding: 0rem 4.5rem;
  size-adjust: auto;
  transform: translate(33%, -2.5%);
 


}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}


#zero-state {
  margin: 2rem auto;
  text-align: center;
  color: #818181;
}

#zero-state a {
  color: inherit;
}

#zero-state a:hover {
  color: #121212;
}















































*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

header2{
  width:77%;
  height: 60px;
  transform: translate(29.7%, 0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px rgb(195, 192, 192);
  background: rgba(211, 206, 206, 0.5);
}
#chk1{
  display: none;
   
   
}


i{
  color: #fff;
  cursor: pointer;
}
header2 .logo{
  flex: 1;
  color:#fff;
   
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}
header2 .search-box2{
  flex: 1;
  position: relative;
}
.search-box2 input{
  width:100%;
  height: 40px;
  border: none;
  outline: none;
  background:#f2f2f2;
  border-radius: 30px;
  color:gray;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 40px;
  text-align: center;
   
}

.search-box2 button{
  cursor: pointer;
  width:40px;
  height: 40px;
  border-radius: 30px;
  border:none;
  position: absolute;
  top:0;
  right: 0;
  transform: scale(0.9);
  background: #5c7470;
  color: #fff;
}
header2 ul {
  flex:2;
  display: flex;
  justify-content: space-evenly;
}
header2 ul li{
  list-style: none;
}
header2 ul li a{
  text-decoration: none;
  color:#5c7470;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}
header2 ul li a:hover{
  border-bottom: 2px solid cadetblue;
}
header2 .menu{
  font-size: 2.5em;
  display: none;
}
@media(max-width:1000px){
  .search-box button{
      position: absolute;
  }
  header2 ul{
      position: fixed;
      top:100px;
      right: -100%;
      background: rgba(0,0,0,0.5);
      height: calc(100vh - 100px);
      width:50%;
      flex-direction: column;
      align-items: center;
      transition: right 0.5s linear;
  }
   
  header2 .menu{
      display: block;
      width:100px;
      text-align: center;
  }
  #chk1:checked ~ ul{
      right: 0;
      
  }
 

}





































#sidebar2{
  position: fixed;
}

#sidebar2 {
  width: 22rem;
  height: 91.4%;
  background-color: #e0dcd6;
  border-right: solid 1px #b5b5b5;
  display: flex;
  flex-direction: column;
  transform: translate(340%, 9%);
  
}
#sidebar2 > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

/*Esta es la linea del mensaje*/
#sidebar2 h2 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  border-top: 1px solid #adadad;
  order: 1;
  line-height: 1;
  translate: 0% -220%;
}



#sidebar2 > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

#sidebar2 > div form {
  position: relative;
}

#sidebar2 > div form input[type="search"] {
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

#sidebar2 > div form input[type="search"].loading {
  background-image: none;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar2 nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar2 nav a span {
  float: right;
  color: #eeb004;
}
#sidebar2 nav a.active span {
  color: inherit;
}

i {
  color: #818181;
}
#sidebar2 nav .active i {
  color: inherit;
}

#sidebar2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar2 li {
  margin: 0.25rem 0;
}

#sidebar2 nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  
  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}

#sidebar2 nav a:hover {
  background: #e3e3e3;
}

#sidebar2 nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar2 nav a.pending {
  color: hsl(224, 98%, 58%);
}





















/*Aqui es el boton de enviar mensaje*/
 .search-box3{
  flex: 1;
  position: relative;
  margin-top: 540px;
}
.search-box3 input{
  width:120%;
  height: 40px;
  border: none;
  outline: none;
  background:#f2f2f2;
  border-radius: 30px;
  color:gray;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 40px;
  text-align: center;
   
}

.search-box3 button{
  cursor: pointer;
  width:40px;
  height: 40px;
  border-radius: 30px;
  border:none;
  position: absolute;
  top:0;
  right: 1;
  transform: scale(0.9);
  background: #5c7470;
  color: #fff;
}


















